<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}Beranda{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <div class="layer-hidden"></div>
  <div id="content-s" class="pa__padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 grid-center pa__box">
          <div class="pa--heading0">
            Selamat datang di DIETNESIA
          </div>
          <div class="pa--heading3"><b>DIETNESIA</b> (DIET INDONESIA) adalah aplikasi berbasis web yang memberikan saran menu makanan. Aplikasi ini juga diperuntukkan bagi pasien/pelaku diet dengan penyakit tertentu.<br>Klik MULAI untuk mendapatkan saran diet.</div>
          <div class="form-group">
            <div class="col-md-7 pa__btn-container-form">
              <a class="btn btn-circle btn-margin-bottom" href="start">Mulai</a>
            </div>
          </div>
          <br><br><br><br>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container -->

{% endblock %}
